<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<title>syhr.sh</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/main.css">
		<meta name="description" content="A simple web tool for creating short, memorable and shareable links. Brought to you by syhr."
	</head>
	<body style="padding: 0">
	<!-- partial:index.partial.html -->
		<canvas id="c" style="position: fixed; width: 100vw; height: 100vh; top: 0"></canvas>

		<header id="header" style="padding-left: 3em">
			<h1>syhr.sh</h1>
			<p style="color: #fff">A simple web tool for creating short, memorable<br />
			and shareable links. Brought to you by <a href="https://sy.com.hr/" target="_blank">syhr</a>.</p>
		</header>

		<form id="signup-form" style="padding-left: 3em">
			<input type="text" name="url" id="email" placeholder="sy.com.hr" />
			<div style="position: relative;"><input type="submit" value="Shorten" id="submit" style="z-index: -1; position: absolute;"/><i id="spinner" class="fas fa-spinner fa-pulse" style="position: relative; font-size: 2em; color: rgba(255, 255, 255, 0); display: none; top: calc(50% - (2em * 0.25)); left: 90%"></i></div>
		</form>

		<footer id="footer">
			<ul class="icons">
				<li><a href="https://sy.com.hr/youtube" target="_blank" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
				<li><a href="https://sy.com.hr/steam" target="_blank" class="icon brands fa-steam"><span class="label">Steam</span></a></li>
				<li><a href="https://sy.com.hr/discord" target="_blank" class="icon brands fa-discord"><span class="label">Discord</span></a></li>
				<li><a href="https://sy.com.hr/github" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; syhr</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</footer>

	<!-- partial -->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/victor/1.1.0/victor.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js'></script>
		<script src='https://cdn.jsdelivr.net/npm/tweakpane@1.3.2/dist/tweakpane.min.js'></script>
		<script  src="/js/script.js"></script>
	</body>
</html>
